:root{
  --yellow: hsl(47, 88%, 63%);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Figtree', sans-serif;
}

body{
  background-color: var(--yellow);
}

main{
  background-color: white;
  margin: auto;
  width: 384px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  box-shadow: 7px 7px black;
  border-radius: 20px;
  padding: 24px;
}

.illustration{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.category{
  display: inline-block;
  background-color: var(--yellow);
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: 800;
}

h1, .published, .category, .content{
  margin-bottom: 12px;
}

h1{
  font-size: 20px;
  font-weight: 800;
}

h1:hover, h1:active{
  color: var(--yellow);
  cursor: pointer;
}

.content{
  color: hsl(0, 0%, 50%);
  font-size: 16px;
}

.avatar{
  width: 32px;
  height: 32px;
}

#foto{
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 800;
}

#foto span{
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  position: absolute;
  top: 90%;
  left: 40%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width < 376px) {
  main{
    width: 327px;
    min-width: 300px;
    height: 450px;
  }

  .category, .published{
    font-size: 12px;
  }

  .content{
    font-size: 14px;
  }

  .attribution{
    left: 35%;
    top: 88%;
  }
}
